body{
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: white;
    flex-direction:column;
    margin:0;
}

.container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    align-items:center;
    justify-content: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width:500px;
    text-align: center;
}

input{
    
    display:block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border:1px solid #ddd;
    border-radius: 5px;
}

button{
    padding: 15px;
    border-radius: 10px;
    margin: top 15px;
    margin-bottom: 15px;
    border: none;
    color:white;
    cursor:pointer;
    background-color: #846427;
    width:100%;
    font-size:16px;
}

.wrap{
    
    justify-content:center;
    align-items: center;;
}

.nav-header{
    
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 29, 17);
    padding: 30px 20px;
}

.nav-header img{
    height: auto;
    cursor: pointer;
    max-width: 100%;
}

.nav-header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.nav-header ul li{
    margin-left:20px;
}

.nav-header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.nav-header ul li a:hover{
    color:rgb(255, 255, 255);
}